<footer class="shared footer bg-blue-light py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Sobre nós</h5>
        <ul class="list-unstyled">
          {{ range $index, $element := .Site.Menus.footer }}
            {{ if eq $index 0 }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <div class="d-flex align-items-center text-primary">{{ partial "icons/home-alt.html" }}</div>
              <a class="small text-black-61 m-0 ps-2" style="text-decoration:none" href="{{ $element.URL }}">{{ $element.Name }}</a>
            </li>
            {{ else if eq $index 1 }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <div class="d-flex align-items-center text-primary">{{ partial "icons/about-alt.html" }}</div>
              <a class="small text-black-61 m-0 ps-2" style="text-decoration:none" href="{{ $element.URL }}">{{ $element.Name }}</a>
            </li>
            {{ else if eq $index 2 }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
                <div class="d-flex align-items-center text-primary">{{ partial "icons/bag-alt.html" }}</div>
                <a class="small text-black-61 m-0 ps-2" style="text-decoration:none" href="{{ $element.URL }}">{{ $element.Name }}</a>
              </li>
            {{ end }}
          {{ end }}
          
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Localização</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.location }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <div class="d-flex align-items-center text-primary">{{ partial "icons/geo-alt.html" }}</div>
              <p class="small text-black-61 m-0 ps-2">{{ . }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Contacte-nos</h5>
        <li class="d-flex justify-content-center justify-content-xl-start mb-2">
          <div class="d-flex align-items-center text-primary">{{ partial "icons/email-alt.html" }}</div>
          <a class="text-light" href="mailto:{{ .Site.Params.contact }}">
            <span class="small text-black-61 m-0 ps-2">{{ .Site.Params.contact }}</span>
          </a>
        </li>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-black-61 text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
