{{ define "main" }}
<section class="section blog-single py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12">
        {{ with .Title }}
        <h2 class="display-1 fw-bold text-center text-primary pb-3">{{ . }}</h2>
        {{ end }}
        <!-- Iterate over each item in the table and create a new row for each -->
        <!-- Single row for displaying all items in .Params.table -->
        <div class="row justify-content-center pb-5">
          {{ range .Params.table }}
          <div class="col-md-3">
            <div class="case-details-info-item">
              <h5>{{ .title }}</h5>
              <p>{{ .description }}</p>
            </div>
          </div>
          {{ end }}
          <!-- Display the thumbnail image centered below the table -->
          <div class="image-gallery justify-content-center pb-5" style="display: flex; justify-content: center; align-items: center;">
            <div class="gallery-item" style="flex: 1;">
               {{ with .Params.thumbnail }}
                 {{ partial "utilities/card-img-top" . }}
               {{ end }}
            </div>
            <div class="gallery-item" style="img {max-width: 100%; height: auto;}">
               {{ with .Params.thumbnail1 }}
                 {{ partial "utilities/card-img-top" . }}
               {{ end }}
            </div>
           </div>
           
        </div>
        <div class="row pb-5">
          <div class="col-12 d-flex justify-content-center">
            <div class="blog-content fs-5">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
</section>
{{ end }}